main
  h2 Reliable, Efficient Delivery
  h3 Powerd by Technology 
  p Our Artificial powered tools use millions of project data points to ensure that your project data point to ensure that your project is successful.
  
  .red
    h3 Team Builder
    p Scans our talent network to create the optimal team for your project
    
  .green
    h3 Supervisor
    p Monitors activity to identify project roadblocks
    
  .orange
    h3 Karma
    p Regularly evaluates our talent to ensure quality
    
  .blue
    h3 Calculator
    p Uses Data from past projects to provide better delivery estimates
    
