:root {
  --my-back: #607d8b;
  --grains: #cfdbd5;
  --lighGray: #696969;
  --gold: #f5cb5c;
  --black: #242423;
  --darkGray: #333533;
  --white: #d1d1d1;
  --shadow: 5px 8px 9px #535353;
}

body,
h2,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

main {
  font-size: 63.5%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: var(--black);
}

.priceCard {
  width: 80vw;
  height: 70vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 40% 1fr;
  border-radius: 10px;
  background-color: whitesmoke;
  max-width: 940px;
}

.container {
  padding: 20px;
  font-size: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.landing {
  background-color: #f9f9f9;
  grid-column: 1 / span 2;
}

.landing__title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--darkGray);
}

.landing__detail {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--gold);

}

.subtitle {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 30px;
}

.landing__text {
  line-height: 35px;
}

.minor__title {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 900;
}

.subscript {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--lighGray);
  color: var(--white);
}

.subscript__detail {
  line-height: 50px;
}

.subscript__price {
  color: var(--gold);
  font-size: 4rem;
  font-weight: 900;
  vertical-align: top;
  margin-right: 10px;
}

.action__button {
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-weight: 800;
  background: var(--gold);
  color: var(--black);
  font-size: 3rem;
  border: none;
}

.reason {
  background-color: var(--darkGray);
  color: var(--white);
  grid-column: 2;
  grid-row: 2;
}

.reason__list {
  list-style: none;
  line-height: 30px;
}

.sale {
  height: 55px;

  color: #ccc;
}

.footer {
  background-color: pink;
  color: grey;
  width: 100vw;
}