main
  .priceCard
    .container.landing
      h2.landing__title Join Our Community
      p.landing__subtitle 20-day, hassle-free money back guarantee
      .landing__text
        p Gain acces to our full library of tutorials along with expert code review.
        p Perfect for any developer who are serious about honin their skils.
      
    .container.subscript
      h2.minor__title Monthly Subscription
      .landing__text
        p #[span(class = "subscript__price") 29$] per month
        p Full acces fo less the $1 day
      button.action__button Sign Up

    .container.reason
      h2.minor__title Why Us
      ul.reason__list
        li Tutorial by industry expers
        li Peer & experst code review
        li Coding exerciese
        li Acces to out GitHub Repos
        li Communiyt Forum
        li Flashcard Deck
        li New viideo every week